@font-face {
  font-family: 'AbrilFatface Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/AbrilFatface-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AmaticSC Bold';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/AmaticSC-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AmaticSC Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Anton Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Anton-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Arial.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirLTStd Black';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/AvenirLTStd-Black.otf') format('opentype');
}

@font-face {
  font-family: 'AvenirLTStd Book';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/AvenirLTStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'AvenirLTStd Roman';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/AvenirLTStd-Roman.otf') format('opentype');
}

@font-face {
  font-family: 'Balthazar Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Balthazar-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Butler Bold';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Butler_Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Butler Medium';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Butler_Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Butler Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Butler_Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Cinzel Bold';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Cinzel-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel Medium';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Cinzel-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Bold';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Cormorant-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Medium';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Cormorant-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Cormorant-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CrimsonText Bold';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/CrimsonText-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'CrimsonText Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CrimsonText SemiBold';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/CrimsonText-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'DancingScript Medium';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/DancingScript-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Didot';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Didot.ttf') format('truetype');
}

@font-face {
  font-family: 'Edukai';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Edukai.ttf') format('truetype');
}

@font-face {
  font-family: 'GenJyuuGothicX Monospace Bold';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenJyuuGothicX-Monospace-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'GenJyuuGothicX Monospace Light';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenJyuuGothicX-Monospace-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'GenJyuuGothicX Monospace Medium';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenJyuuGothicX-Monospace-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'GenRyuMin TW B';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenRyuMin-B.ttf') format('truetype');
}

@font-face {
  font-family: 'GenRyuMin TW L';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenRyuMin-L.ttf') format('truetype');
}

@font-face {
  font-family: 'GenRyuMin TW M';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenRyuMin-M.ttf') format('truetype');
}

@font-face {
  font-family: 'GenSenRounded TW B';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenSenRounded-B.ttf') format('truetype');
}

@font-face {
  font-family: 'GenSenRounded TW L';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenSenRounded-L.ttf') format('truetype');
}

@font-face {
  font-family: 'GenSenRounded TW M';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenSenRounded-M.ttf') format('truetype');
}

@font-face {
  font-family: 'GenWanMin TW L';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenWanMin-L.ttf') format('truetype');
}

@font-face {
  font-family: 'GenWanMin TW M';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenWanMin-M.ttf') format('truetype');
}

@font-face {
  font-family: 'GenWanMin TW SB';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenWanMin-SB.ttf') format('truetype');
}

@font-face {
  font-family: 'GenYoMin TW B';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenYoMin-B.ttf') format('truetype');
}

@font-face {
  font-family: 'GenYoMin TW L';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenYoMin-L.ttf') format('truetype');
}

@font-face {
  font-family: 'GenYoMin TW M';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GenYoMin-M.ttf') format('truetype');
}

@font-face {
  font-family: 'GreatVibes Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'HomemadeApple Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/HomemadeApple-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'jf-openhuninn-1.1';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/jf-openhuninn-1.1.ttf') format('truetype');
}

@font-face {
  font-family: 'JosefinSans Bold';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'JosefinSans Light';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/JosefinSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'JosefinSans Medium';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/JosefinSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'lato';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/lato.ttf') format('truetype');
}

@font-face {
  font-family: 'LobsterTwo Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/LobsterTwo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PoiretOne Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/PoiretOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand Bold';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand Light';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Quicksand-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand Medium';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono Bold';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono Medium';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono Thin';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/RobotoMono-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'RussoOne Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/RussoOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansPro Bold';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansPro Light';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansPro Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Staatliches Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Staatliches-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TimesNewRoman';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/TimesNewRoman.ttf') format('truetype');
}

@font-face {
  font-family: '全字庫正楷體';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/TW-Kai-98_1.ttf') format('truetype');
}

@font-face {
  font-family: '全字庫正楷體 Ext-B';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/TW-Kai-Ext-B-98_1.ttf') format('truetype');
}

@font-face {
  font-family: '全字庫正楷體 Plus';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/TW-Kai-Plus-98_1.ttf') format('truetype');
}

@font-face {
  font-family: '全字庫正宋體';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/TW-Sung-98_1.ttf') format('truetype');
}

@font-face {
  font-family: '全字庫正宋體 Ext-B';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/TW-Sung-Ext-B-98_1.ttf') format('truetype');
}

@font-face {
  font-family: '全字庫正宋體 Plus';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/TW-Sung-Plus-98_1.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Yellowtail Regular';
  src: url('https://gitcdn.link/repo/yasuoyuhao/turing-chain-docker/master/fonts-master/Yellowtail-Regular.ttf') format('truetype');
}

